<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      
      <uiMoveItems>
        <processor 
        patch:before="*[@method='Execute']" 
        mode="on"
        type="Loopholes.InsertOptionsCheck, Loopholes" 
        method="ProcessMove" />
      </uiMoveItems>
      
      <uiCopyItems>
        <processor
        patch:before="*[@method='Execute']"
        mode="on"
        type="Loopholes.InsertOptionsCheck, Loopholes"
        method="ProcessCopy" />
      </uiCopyItems>    
      
    </processors>
  </sitecore>
</configuration>